<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>My Dev Skills!</title>
</head>
<body>
  <span>
    <h1>Skill #<%= skillsNum %>:</h1>
    <h3><%= Skills.skill %></h3>
  </span> 
  <!--Edit and Delete Skill Links:-->
  <li>
    <a href="/skills/<%= Skills.id %>/edit">Edit Skill</a>
    <form action="/skills/<%= Skills.id %>?_method=DELETE" id="delete-form" method="POST">
      <button type="submit">Delete</button>
    </form>
  </li>

</body>
</html>