body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*#delete-form {
  background: none!important;
  color: #00B7FF;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
}*/

#delete-form button {
  background: none!important;
  color: #00B7FF;
  border: none;
  padding: 0!important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}

li {
  list-style: none;
}
