body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*Makes button look like a link...so I can use the form action*/
#delete-form button {
  background: none!important;
  color: #00B7FF;
  border: none;
  padding: 0!important;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}

li {
  list-style: none;
}
